.gridmother {  display: grid;
grid-template-columns: repeat(8,1fr)  ; grid-template-rows: repeat(3,5vw) ; 

 grid-gap: 2px; ;
margin-bottom: 20px;
   }

 .gridmother {width: 90vw;
   height: 116vh;
   border: 10px solid black}
   

.one {
   grid-column-start: 1;grid-column-end: 3;grid-row-start: 1;grid-row-end: 6;
}

.two {grid-column: 7/9;
   grid-row: 6/12;}
.six{grid-column: 4/7;
   grid-row: 6/12;}
.three {grid-column: 3; grid-row: 1/9;}
.five {grid-column: 6/9;
   grid-row: 1/6;}
.nine { grid-column: 1/4;
   grid-row: 9/12;}
   .eight{grid-column: 1/3;
      grid-row: 7/9;}
.seven { grid-column: 1/3;}
.four {grid-row: 1/6;grid-column: 4/6;}
img{width: 100%  ; height: 100%; object-fit: cover;}



.item {
    
    
    border: 5px solid red
    }

